@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
    background: url('./images/building.jpg') center center;
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 65, 106, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 30vh; /* Set a fixed height to cover the viewport */
}

.title {
    color: white;
    font-size: 0;
    text-align: center;
    margin-top: 20px;
}

.col {
    max-width: 100%;
    color: white;
    display: flex;
    flex-direction: row; /* Display hours, days, minutes, and seconds in a row */
    justify-content: center; /* Center content horizontally */
    text-align: center;
    margin-top: 10px;
     font-weight: bold;
    gap: 10px; /* Add some space between the columns */
}

.col div {
    max-width: 250px;
    text-align: center;
}

input {
    height: 70px;
    width: 59%;
    max-width: 350px;
    background-color: rgba(255, 255, 255, 1);
    border-color: transparent;
    border-radius: 1px;
    text-align: center;
    font-size: 30px;
    margin-top: 16px;
    margin-bottom: 10px;
}

label {
    font-size: 20px;
    font-weight: bold;
}

/* Media Query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
    .title {
        font-size: 0;
    }

    .col {
        max-width: 100%;
    color: white;
    display: flex;
    flex-direction: row; /* Display hours, days, minutes, and seconds in a row */
    justify-content: center; /* Center content horizontally */
    text-align: center;
    margin-top: 0px;
    gap: 0px; /* Add some space between the columns */
    }

    .overlay {
     padding: 1px;
    height: 25vh; /* Set a fixed height to cover the viewport */
    }

    label {
    font-size: 15px;
    font-weight: bold;
}

    input {
        font-size: 20px;
    }
}


html {
  background-color: #0c4068;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #000000;
  padding: 5%;
  margin: 5% 20% 20% 20%;
  border-radius: 5px;
}

/*-----Headings------*/
h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 30px;
  text-align: center;
}

p {
  font-size: 0.90rem;
  margin-bottom: 30px;
  text-align: center;
}

figcaption {
  font-size: 0.90rem;
  margin-bottom: 30px;
  text-align: center;
}

ul li {
  list-style-type: none;
  margin-bottom: 60px;
  line-height: 135%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: aqua;
}

.down_container {
  text-align: center;
}


img {
  border-radius: 0%;
  width: 100%;
  height: auto;
}

.image {
  margin-bottom: 0px;
}

/*---------Media Queries---------*/
@media (max-width: 375px) {
  h1 {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  html {
    display: table;
    margin: 30px;
    font-size: 24px;
  }

  body {
    display: table-cell;
    vertical-align: middle;
  }

  h1 {
    font-size: 40px;
  }
}

.footer {
    background-color: #0c4068;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.colored-word {
    color: red; /* Change the color to your desired color */
}
